<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Logo name</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeStart()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doStart()">
      <label class="item item-input">
        <span class="input-label">Name</span>
        <input type="text" ng-model="startData.name">
      </label>
      <label class="item">
        <button class="button button-block button-positive" type="submit">Enter</button>
      </label>
    </form>
  </ion-content>
</ion-modal-view>
