/* Empty. Add your own CSS if you like */

ion-side-menu img{
	width: 100px;
	height: 100px;
}

.centered{
	text-align: center;
}

#designer h1{
	text-align: center;
}

#designer > div{
	text-align: center;
}

#designer img{
	width: 200px;
}